<form action="/"> 
	<input type="submit" value="return to homepage"></input>
</form>

<h1> Control Times </h1>
{% if items %}
<p> Start time: {{items[0].datetime}} </p>
<p> Distance: {{items[0].distance}} </p>
{% endif %}

{% for item in items %}
<h1> {{ item.location }} | {{item.km}} km</h1>
   <p> {{ item.open }} | {{ item.close }} </p>
{% endfor %}
