
<form action="/new" method="POST">
  {% for row in range (2) %}
  <tr class = 'control'>
  <input type="text" name="name"></input>
  <input type="text" name="description"></input>
  <input type="submit"></input>
  </tr>
  {% endfor %}
</form>


{% for item in items %}
  <h1> {{ item.name }} </h1>
  <p> {{ item.description }} <p>
{% endfor %}
